<div class="container">
  <h1>Hola desde angular</h1>
  <h2>{{ title }}</h2>

  <ul>
    @for (task of tasks(); track task) {
    <li>
      {{ task }}
    </li>
    }
  </ul>

  <hr>
  <h2>{{'hola' .repeat(4)}}</h2>
  <p>la suma de 3 + 3 es {{3 + 3 }}</p>
  <p>Hola soy {{ name() }} y Tengo {{ age }}</p>
  <hr>
  <img [src]="persona().img" alt="">
  <input type="number" [value]="persona().age">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{persona().name}}</p>


  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">click me</button>
  <p>(Change)</p>
  <input type="number" [value]="persona().age" (change)="changeHandler($event)">
  <p>(Keydown)</p>
  <input type="text" [value]="persona().name" (keydown)="keydownHandler($event)">
  <p>(Keydown)</p>
  <input type="text" [value]="persona().name" (keydown.shift-t)="keydownHandler($event)">
  <p>(Signal)</p>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <P>TOTAL: {{tasks().length}}</P>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{i}} {{ task }}
    </li>
    }
  </ul>
  <hr>

  <!-- NUEVA SINTAXIS DE ANGULAR -->
  <h2>NOMBRE</h2>
  @if (name() === 'julian') {
  <div>Soy Nicolas</div>
  }


  <input type="number" [value]="persona().age" (change)="changeAge($event)">

  @if (persona().name === 'Nicolas' && persona().age > 18) {
  <div>
    soy mayor de 18
  </div>
  } @else {
  soy menor de 18
  }


  <h2>If else new</h2>


  @if (persona().name === 'Nicolas' && persona().age > 18) {
  <div>Soy Nicolas y soy mayor de 18</div>
  } @else {
  <div>Soy Nicolas y soy menor de 18</div>
  }

  <h2>For now</h2>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{i}} {{ task }}
    </li>
    }
  </ul>

  <!-- El elemento padre debe ir afuera como lo puedes ver en el UL -->
  <!-- El empty es si esa lista esta en vacío -->
  <ul>

    @for(task of tasks(); track task; let i = $index){
    <li>{{ i }}{{ task }} </li>
    } @empty {
    <li><strong>La lista esta en vacío</strong></li>
    }
  </ul>

  <h2>ngSwitch new</h2>

  <hr>
  <input type="text" [value]="persona().name" (change)="changeName($event)">
  <div>
    @switch (persona().name) {
    @case ('Nicolas') {
    <p>Yo soy Nicolas</p>
    }
    @case ('Julian') {
    <p>Yo soy Julian</p>
    }
    @case ('Ana') {
    <p>Yo soy Ana</p>
    }
    @case ('Valentina') {
    <p>Yo soy Valentina</p>
    }
    @default {
    <p> Yo no soy nadie</p>
    }
    }
  </div>
  <hr>

  <div>

    @switch (persona().name) {
    @case ('Nicolas') {
    <p>Soy Nicolas</p>
    }
    @case ('Julian') {
    <p>Soy Julian</p>
    }
    @case ('Ana') {
    <p>Soy Ana</p>
    }
    @case ('Valentina') {
    <p>Soy Valentina</p>
    }
    @default {
    <p>No soy nadie</p>
    }
    }
  </div>



  <hr>
  <input type="text" [value]="persona().name" (change)="changeName($event)">
  <div>
    @switch (persona().name) {
    @case ('Nicolas') {
    <p>Yo soy Nicolas</p>
    }
    @case ('Julian') {
    <p>Yo soy Julian</p>
    }
    @case ('Ana') {
    <p>Yo soy Ana</p>
    }
    @case ('Valentina') {
    <p>Yo soy Valentina</p>
    }
    @default {
    <p> Yo no soy nadie</p>
    }
    }
  </div>
  <hr>

  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>

  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100%" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <hr>

  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>

  <hr>

  <p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="message-err" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre Invalido</span>
  </p>

  <!-- <p>
                    <input type="text">
                  </p> -->

</div>
