.container {
  padding: 3rem;
}

.box {
  height: 10px;
  display: block;
  background-color: brown
}
.message-err {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
}
.message-err.show {
opacity: 1;
}
